@use "../base/variables" as vars;

.Banner {
    background-image: url("../../../public/header-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: vars.$primary-font;
    padding-top: 183px;
    padding-bottom: 186px;
    padding-top: 145px;
    padding-bottom: 116px;

    text-align: center;

    @media (min-width: 576px) {
        padding-top: 183px;
        padding-bottom: 186px;
    }
}

.Names {
    font-family: vars.$secondary-font;
    font-size: 72px;
    font-weight: normal;
    text-align: center;
    display: block;

    @media (min-width: 576px) {
        font-size: 90px;
    }
}

.Title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 5px;
    color: vars.$black;
    display: block;
    margin-bottom: 10px;

    @media (min-width: 576px) {
        font-size: 24px;
    }
}

.Date {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;

    @media (min-width: 576px) {
        font-size: 24px;
    }
}

.IconWrap {
    background-color: vars.$gray;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    align-content: center;
    border-radius: 50%;
    margin-bottom: 10px;

    @media (min-width: 576px) {
        width: 50px;
        height: 50px;
    }
}

.Icon {
    color: vars.$white;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;

    &:hover {
        color: vars.$black;
    }

    @media (min-width: 576px) {
        font-size: 20px;
    }
}

.Scroll {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}
