@use "../base/variables" as vars;

.ParentalBlessing {
    padding: 50px 15px;

    @media (min-width: 576px) {
        padding: 70px 2px;
    }
}

.Wrap {
    width: 100%;
    max-width: 438px;
    margin: 0 auto;

    border-style: double;
    border-width: 2px 2px 2px 2px;
    border-color: #B4A180;
    text-align: center;
    padding-top: 44px;

    padding: 50px 20px;
}

.Text {
    font-family: vars.$secondary-font;
    font-size: 30px;
    color: vars.$black;
    display: block;
    width: 100%;
    word-wrap: break-word;
    max-width: 370px;

    @media (min-width: 576px) {
        font-size: 45px;
    }
}

.ParentName {
    font-family: vars.$primary-font;
    font-size: 15px;
    color: vars.$black;
    display: block;

    @media (min-width: 576px) {
        font-size: 19px;
    }
}