###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

# Set linux scripts to use LF as line ending character
*.sh text eol=lf